{{ include('Templates/header.html')}}
<div class="left-txt-container">
    <div class="headings-wrapper">
        <h1 id="heading-large">Digital</h1>
        <h1 id="heading-medium">Marketing</h1>
    </div>
    <div class="paragraph-wrapper">
        <p class="home-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
    <a id="link-more" href="/more">Learn more</a>
</div>
<div class="right-img-container">
    <img src="/public/illustration.jpg">
</div>
{{ include('Templates/footer.html') }}
